<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SerialPortConfig" type="System.Configuration.AppSettingsSection" />
    <section name="ModbusConfig" type="System.Configuration.AppSettingsSection" />
    <section name="FileReaderConfig" type="System.Configuration.AppSettingsSection" />
    <section name="ErrorMessages" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <appSettings>
    <add key="ServerPort" value="8108" />
    <add key="DatabaseAddress" value="127.0.0.1" />
    <add key="DatabasePort" value="3306" />
    <add key="DatabaseName" value="ses_hms" />
    <add key="DatabaseUserID" value="root" />
    <add key="DatabasePassword" value="test99" />
    <add key="DataStorageTime" value="183" />
    <add key="ErrorMessageStorageTime" value="30" />
    <add key="ProgramSaveFrequency" value="1000" />
    <add key="DataTimeout" value="5000" />
    <add key="GUIDataLimit" value="100" />
    <add key="RegulationStandard" value="CAP" />
    <add key="SemiSubmersible" value="0" />
    <add key="HelicopterType" value="AS332" />
    <add key="HelideckCategory" value="Category1" />
    <add key="DayNight" value="Day" />
    <add key="DisplayMode" value="0" />
    <add key="OnDeckHelicopterHeading" value="0" />
    <add key="OnDeckTime" value="0" />
    <add key="OnDeckVesselHeading" value="0" />
    <add key="OnDeckWindDirection" value="0" />
    <add key="MSICorrectionR" value="1" />
    <add key="HelideckHeight" value="50" />
    <add key="WindSensorHeight" value="110" />
    <add key="WindSensorDistance" value="25" />
    <add key="AirPressureSensorHeight" value="109" />
    <add key="HelideckHeadingOffset" value="360" />
    <add key="SetupGUIDataLimit" value="200" />
    <add key="ServerUIUpdateFrequency" value="1000" />
    <add key="DatabaseSaveFrequency" value="1000" />
    <add key="HMSProcessingFrequency" value="250" />
    <add key="NDBFrequency_NOROG" value="190,000" />
    <add key="NDBFrequency_CAP" value="190,000" />
    <add key="VHFFrequency" value="30,000" />
    <add key="LogFrequency" value="30,000" />
    <add key="MarineChannel" value="16" />
    <add key="EmailPort" value="25" />
    <add key="EmailUsername" value="" />
    <add key="EmailPassword" value="" />
    <add key="EmailSecureConnection" value="0" />
    <add key="DataVerificationEnabled" value="0" />
    <add key="LightsOutputAddress1" value="1" />
    <add key="LightsOutputAddress2" value="1" />
    <add key="LightsOutputAddress3" value="1" />
    <add key="LicenseOwner" value="" />
    <add key="LicenseLocation" value="" />
    <add key="LicenseMaxClients" value="" />
    <add key="DeviceID" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <SerialPortConfig>
    <add key="ShowControlChars" value="1" />
    <add key="TotalDataLines" value="15" />
  </SerialPortConfig>
  <ModbusConfig>
    <add key="TotalDataLines" value="15" />
  </ModbusConfig>
  <FileReaderConfig>
    <add key="TotalDataLines" value="15" />
  </FileReaderConfig>
  <ErrorMessages>
    <add key="ErrorMessagesView" value="0" />
    <add key="ErrorMessagesType" value="0" />
    <add key="ErrorMessagesSelection" value="0" />
  </ErrorMessages>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.1.0" newVersion="3.19.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>