<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Telerik UI for WPF Telerik.UI.for.Wpf.80.NoXaml.2026.1.415" value="C:\Users\espen.oijordsbakken\AppData\Roaming\Telerik\Updates\Telerik_UI_for_WPF_2026_1_415_Dlls\Binaries.NoXaml\WPF80\NuGet" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Telerik.Licensing" />
    </packageSource>
    <packageSource key="Telerik UI for WPF Telerik.UI.for.Wpf.80.NoXaml.2026.1.415">
      <package pattern="Telerik.UI.for.Wpf.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
