<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="Header" type="System.Configuration.AppSettingsSection" />
		<section name="SensorData" type="HMS_Server.SensorConfigSection, HMS_Server" />
		<section name="SensorGroupID" type="HMS_Server.SensorGroupIDConfigSection, HMS_Server" />
		<section name="HMSData" type="HMS_Server.HMSDataConfigSection, HMS_Server" />
		<section name="HelicopterWSILimit" type="HMS_Server.HelicopterWSILimitConfigSection, HMS_Server" />
		<section name="LightsOutput" type="HMS_Server.SensorConfigSection, HMS_Server" />
	</configSections>

	<appSettings>
		<add key="DynamicPositioning" value="1" />
		<add key="AccurateMonitoringEquipment" value="1" />
		<add key="OutgoingEmailServer" value="smtp.helifuel.no" />
	</appSettings>
	<Header>
		<add key="nextID" value="59" />
	</Header>

	<SensorData>
  <SensorHeaders>
   <sensor id="1" type="SerialPort" name="GPS Latitude" description="GPS Latitude input&#xD;&#xA;"
    saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM14" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="$GPGGA" packetEnd="\r\n"
     packetDelimiter="," packetCombineFields="Odd" fixedPosData="False"
     fixedPosStart="0" fixedPosTotal="0" dataField="1" decimalSeparator="Point"
     autoExtractValue="False" calculationType1="GPSPosition" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
   </sensor>
   <sensor id="2" type="SerialPort" name="GPS Longitude" description="Test A&#xD;&#xA;"
    saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM14" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="$GPGGA" packetEnd="\r\n"
     packetDelimiter="," packetCombineFields="Odd" fixedPosData="False"
     fixedPosStart="0" fixedPosTotal="0" dataField="2" decimalSeparator="Point"
     autoExtractValue="False" calculationType1="GPSPosition" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
   </sensor>
   <sensor id="7" type="ModbusTCP" name="MODBUS Test 12" description="MODBUS test sensor 1412"
    saveToDatabase="False" saveFreq="Program">
    <serialPort portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" packetHeader="" packetEnd="" packetDelimiter=""
     packetCombineFields="" fixedPosData="" fixedPosStart="" fixedPosTotal=""
     dataField="" decimalSeparator="" autoExtractValue="" calculationType1=""
     calculationParameter1="0" calculationType2="None" calculationParameter2="0"
     calculationType3="None" calculationParameter3="0" calculationType4="None"
     calculationParameter4="0" />
    <modbus portName="COM1" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" tcpAddress="127.0.0.1" tcpPort="502"
     slaveID="1" startAddress="30001" totalAddresses="10" dataAddress="30001"
     calculationType1="None" calculationParameter1="0" calculationType2="None"
     calculationParameter2="0" calculationType3="None" calculationParameter3="0"
     calculationType4="None" calculationParameter4="0" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
   </sensor>
   <sensor id="10" type="SerialPort" name="SMCC: Pitch" description="(description)"
    saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM20" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="$PSMCC" packetEnd="\r\n"
     packetDelimiter="," packetCombineFields="None" fixedPosData="False"
     fixedPosStart="0" fixedPosTotal="0" dataField="0" decimalSeparator="Point"
     autoExtractValue="False" calculationType1="Division" calculationParameter1="30000"
     calculationType2="RoundingDecimals" calculationParameter2="1"
     calculationType3="None" calculationParameter3="0" calculationType4="None"
     calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1=""
     calculationType2="" calculationParameter2="" calculationType3=""
     calculationParameter3="" calculationType4="" calculationParameter4="" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1=""
     calculationType2="" calculationParameter2="" calculationType3=""
     calculationParameter3="" calculationType4="" calculationParameter4="" />
   </sensor>
   <sensor id="11" type="SerialPort" name="SMCC: Roll" description="(description)"
    saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM20" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="$PSMCC" packetEnd="\r\n"
     packetDelimiter="," packetCombineFields="None" fixedPosData="False"
     fixedPosStart="0" fixedPosTotal="0" dataField="1" decimalSeparator="Point"
     autoExtractValue="False" calculationType1="Division" calculationParameter1="30000"
     calculationType2="RoundingDecimals" calculationParameter2="1"
     calculationType3="None" calculationParameter3="0" calculationType4="None"
     calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1=""
     calculationType2="" calculationParameter2="" calculationType3=""
     calculationParameter3="" calculationType4="" calculationParameter4="" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1=""
     calculationType2="" calculationParameter2="" calculationType3=""
     calculationParameter3="" calculationType4="" calculationParameter4="" />
   </sensor>
   <sensor id="22" type="SerialPort" name="TSS1: Heave (m)" description="(description)"
    saveToDatabase="True" saveFreq="Sensor">
    <serialPort portName="COM4" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader=":" packetEnd="\r\n"
     packetDelimiter="-" packetCombineFields="None" fixedPosData="True"
     fixedPosStart="7" fixedPosTotal="6" dataField="0" decimalSeparator="Point"
     autoExtractValue="True" calculationType1="Division" calculationParameter1="500"
     calculationType2="None" calculationParameter2="1" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
   </sensor>
   <sensor id="23" type="SerialPort" name="PWD20: Visibility" description="(description)"
    saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM12" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="\u0001PW" packetEnd="\u0003\r\n"
     packetDelimiter="\u0020" packetCombineFields="None" fixedPosData="False"
     fixedPosStart="20" fixedPosTotal="6" dataField="5" decimalSeparator="Point"
     autoExtractValue="True" calculationType1="Multiplication" calculationParameter1="10"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
   </sensor>
   <sensor id="24" type="SerialPort" name="WXT520: Air Pressure"
    description="(description)" saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM10" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="0R2" packetEnd="\r\n"
     packetDelimiter="=" packetCombineFields="None" fixedPosData="False"
     fixedPosStart="0" fixedPosTotal="0" dataField="4" decimalSeparator="Point"
     autoExtractValue="True" calculationType1="Division" calculationParameter1="5"
     calculationType2="RoundingDecimals" calculationParameter2="1"
     calculationType3="None" calculationParameter3="0" calculationType4="None"
     calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
   </sensor>
   <sensor id="25" type="SerialPort" name="WXT520: Air Temperature"
    description="(description)" saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM10" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="0R2" packetEnd="\r\n"
     packetDelimiter="=" packetCombineFields="None" fixedPosData="False"
     fixedPosStart="0" fixedPosTotal="0" dataField="1" decimalSeparator="Point"
     autoExtractValue="True" calculationType1="Division" calculationParameter1="100"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
   </sensor>
   <sensor id="27" type="SerialPort" name="FD12P: Weather" description="(description)"
    saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM16" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="\u0001FD A\u0002"
     packetEnd="" packetDelimiter="" packetCombineFields="None" fixedPosData="True"
     fixedPosStart="78" fixedPosTotal="5" dataField="0" decimalSeparator="Point"
     autoExtractValue="False" calculationType1="METARCodes" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
   </sensor>
   <sensor id="29" type="SerialPort" name="CL31-2: Cloud Height - Layer 1"
    description="(description)" saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM18" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="\u0001CLA10025\u0002\r\n"
     packetEnd="\u0004\r\n" packetDelimiter="\u0020" packetCombineFields="None"
     fixedPosData="False" fixedPosStart="26" fixedPosTotal="5" dataField="1"
     decimalSeparator="Point" autoExtractValue="False" calculationType1="None"
     calculationParameter1="0" calculationType2="None" calculationParameter2="0"
     calculationType3="None" calculationParameter3="0" calculationType4="None"
     calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
   </sensor>
   <sensor id="30" type="SerialPort" name="CL31-2: Cloud Height - Layer 2"
    description="(description)" saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM18" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="\u0001CLA10025\u0002\r\n"
     packetEnd="\u0004\r\n" packetDelimiter="\u0020" packetCombineFields="None"
     fixedPosData="False" fixedPosStart="32" fixedPosTotal="5" dataField="2"
     decimalSeparator="Point" autoExtractValue="False" calculationType1="None"
     calculationParameter1="0" calculationType2="None" calculationParameter2="0"
     calculationType3="None" calculationParameter3="0" calculationType4="None"
     calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
   </sensor>
   <sensor id="31" type="SerialPort" name="CL31-2: Cloud Height - Layer 3"
    description="(description)" saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM18" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="\u0001CLA10025\u0002\r\n"
     packetEnd="\u0004\r\n" packetDelimiter="\u0020" packetCombineFields="None"
     fixedPosData="False" fixedPosStart="38" fixedPosTotal="5" dataField="3"
     decimalSeparator="Point" autoExtractValue="False" calculationType1="None"
     calculationParameter1="0" calculationType2="None" calculationParameter2="0"
     calculationType3="None" calculationParameter3="0" calculationType4="None"
     calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
   </sensor>
   <sensor id="32" type="SerialPort" name="Gill: Wind Direction"
    description="(description)" saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM22" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="\u0002" packetEnd="\r\n"
     packetDelimiter="," packetCombineFields="None" fixedPosData="False"
     fixedPosStart="0" fixedPosTotal="0" dataField="1" decimalSeparator="Point"
     autoExtractValue="False" calculationType1="None" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
   </sensor>
   <sensor id="33" type="SerialPort" name="Gill: Wind Speed" description="(description)"
    saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM22" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="\u0002" packetEnd="\r\n"
     packetDelimiter="," packetCombineFields="None" fixedPosData="False"
     fixedPosStart="0" fixedPosTotal="0" dataField="2" decimalSeparator="Point"
     autoExtractValue="True" calculationType1="Multiplication" calculationParameter1="10"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
   </sensor>
   <sensor id="34" type="SerialPort" name="VADCP: Vessel Heading"
    description="(description)" saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM24" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="\u0002" packetEnd=""
     packetDelimiter="\u0020" packetCombineFields="None" fixedPosData="False"
     fixedPosStart="0" fixedPosTotal="0" dataField="52" decimalSeparator="Point"
     autoExtractValue="False" calculationType1="Division" calculationParameter1="100"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
   </sensor>
   <sensor id="35" type="SerialPort" name="CL31-2: Cloud Octal - Layer 1"
    description="(description)" saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM18" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="\u0001CLA10025\u0002\r\n"
     packetEnd="\u0004\r\n" packetDelimiter="\u0020" packetCombineFields="None"
     fixedPosData="True" fixedPosStart="63" fixedPosTotal="1" dataField="0"
     decimalSeparator="Point" autoExtractValue="False" calculationType1="None"
     calculationParameter1="0" calculationType2="None" calculationParameter2="0"
     calculationType3="None" calculationParameter3="0" calculationType4="None"
     calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
   </sensor>
   <sensor id="36" type="SerialPort" name="CL31-2: Cloud Octal - Layer 2"
    description="(description)" saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM18" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="\u0001CLA10025\u0002\r\n"
     packetEnd="\u0004\r\n" packetDelimiter="\u0020" packetCombineFields="None"
     fixedPosData="True" fixedPosStart="70" fixedPosTotal="1" dataField="0"
     decimalSeparator="Point" autoExtractValue="False" calculationType1="None"
     calculationParameter1="0" calculationType2="None" calculationParameter2="0"
     calculationType3="None" calculationParameter3="0" calculationType4="None"
     calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
   </sensor>
   <sensor id="37" type="SerialPort" name="CL31-2: Cloud Octal - Layer 3"
    description="(description)" saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM18" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="\u0001CLA10025\u0002\r\n"
     packetEnd="\u0004\r\n" packetDelimiter="\u0020" packetCombineFields="None"
     fixedPosData="True" fixedPosStart="77" fixedPosTotal="1" dataField="0"
     decimalSeparator="Point" autoExtractValue="False" calculationType1="None"
     calculationParameter1="0" calculationType2="None" calculationParameter2="0"
     calculationType3="None" calculationParameter3="0" calculationType4="None"
     calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
   </sensor>
   <sensor id="38" type="SerialPort" name="SMCC: Ax Surge Acceleration"
    description="(description)" saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM20" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="$PSMCC" packetEnd="\r\n"
     packetDelimiter="," packetCombineFields="None" fixedPosData="False"
     fixedPosStart="0" fixedPosTotal="0" dataField="0" decimalSeparator="Point"
     autoExtractValue="False" calculationType1="Division" calculationParameter1="100000"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1=""
     calculationType2="" calculationParameter2="" calculationType3=""
     calculationParameter3="" calculationType4="" calculationParameter4="" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1=""
     calculationType2="" calculationParameter2="" calculationType3=""
     calculationParameter3="" calculationType4="" calculationParameter4="" />
   </sensor>
   <sensor id="39" type="SerialPort" name="SMCC: Ay Sway Acceleration"
    description="(description)" saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM20" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="$PSMCC" packetEnd="\r\n"
     packetDelimiter="," packetCombineFields="None" fixedPosData="False"
     fixedPosStart="0" fixedPosTotal="0" dataField="1" decimalSeparator="Point"
     autoExtractValue="False" calculationType1="Division" calculationParameter1="100000"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1=""
     calculationType2="" calculationParameter2="" calculationType3=""
     calculationParameter3="" calculationType4="" calculationParameter4="" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1=""
     calculationType2="" calculationParameter2="" calculationType3=""
     calculationParameter3="" calculationType4="" calculationParameter4="" />
   </sensor>
   <sensor id="40" type="SerialPort" name="SMCC: Az Normal Acceleration"
    description="(description)" saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM20" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="$PSMCC" packetEnd="\r\n"
     packetDelimiter="," packetCombineFields="None" fixedPosData="False"
     fixedPosStart="0" fixedPosTotal="0" dataField="5" decimalSeparator="Point"
     autoExtractValue="False" calculationType1="Division" calculationParameter1="1000"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1=""
     calculationType2="" calculationParameter2="" calculationType3=""
     calculationParameter3="" calculationType4="" calculationParameter4="" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1=""
     calculationType2="" calculationParameter2="" calculationType3=""
     calculationParameter3="" calculationType4="" calculationParameter4="" />
   </sensor>
   <sensor id="41" type="SerialPort" name="VADCP: Vessel Speed"
    description="(description)" saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM24" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="\u0002" packetEnd=""
     packetDelimiter="\u0020" packetCombineFields="None" fixedPosData="False"
     fixedPosStart="0" fixedPosTotal="0" dataField="31" decimalSeparator="Point"
     autoExtractValue="False" calculationType1="Division" calculationParameter1="1000"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1=""
     calculationType2="" calculationParameter2="" calculationType3=""
     calculationParameter3="" calculationType4="" calculationParameter4="" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1=""
     calculationType2="" calculationParameter2="" calculationType3=""
     calculationParameter3="" calculationType4="" calculationParameter4="" />
   </sensor>
   <sensor id="49" type="SerialPort" name="WXT520: Air Humidity"
    description="(description)" saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM10" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="0R2" packetEnd="\r\n"
     packetDelimiter="=" packetCombineFields="None" fixedPosData="False"
     fixedPosStart="0" fixedPosTotal="0" dataField="3" decimalSeparator="Point"
     autoExtractValue="True" calculationType1="Division" calculationParameter1="100"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
   </sensor>
   <sensor id="51" type="SerialPort" name="CL31-2: Cloud Height - Layer 4"
    description="(description)" saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM18" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="\u0001CLA10025\u0002\r\n"
     packetEnd="\u0004\r\n" packetDelimiter="\u0020" packetCombineFields="None"
     fixedPosData="False" fixedPosStart="38" fixedPosTotal="5" dataField="3"
     decimalSeparator="Point" autoExtractValue="False" calculationType1="None"
     calculationParameter1="0" calculationType2="None" calculationParameter2="0"
     calculationType3="None" calculationParameter3="0" calculationType4="None"
     calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
   </sensor>
   <sensor id="52" type="SerialPort" name="TSS1: Heave Rate (m/s)"
    description="(description)" saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM4" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader=":" packetEnd="\r\n"
     packetDelimiter="-" packetCombineFields="None" fixedPosData="True"
     fixedPosStart="14" fixedPosTotal="6" dataField="0" decimalSeparator="Point"
     autoExtractValue="True" calculationType1="Division" calculationParameter1="10000"
     calculationType2="None" calculationParameter2="1" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1=""
     calculationType2="" calculationParameter2="" calculationType3=""
     calculationParameter3="" calculationType4="" calculationParameter4="" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1=""
     calculationType2="" calculationParameter2="" calculationType3=""
     calculationParameter3="" calculationType4="" calculationParameter4="" />
   </sensor>
   <sensor id="53" type="SerialPort" name="CL31-2: Cloud Octal - Layer 4"
    description="(description)" saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM18" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="\u0001CLA10025\u0002\r\n"
     packetEnd="\u0004\r\n" packetDelimiter="\u0020" packetCombineFields="None"
     fixedPosData="True" fixedPosStart="77" fixedPosTotal="1" dataField="0"
     decimalSeparator="Point" autoExtractValue="False" calculationType1="None"
     calculationParameter1="0" calculationType2="None" calculationParameter2="0"
     calculationType3="None" calculationParameter3="0" calculationType4="None"
     calculationParameter4="0" />
    <modbus portName="" baudRate="" dataBits="" stopBits="" parity=""
     handshake="" tcpAddress="" tcpPort="" slaveID="" startAddress=""
     totalAddresses="" dataAddress="" calculationType1="" calculationParameter1=""
     calculationType2="" calculationParameter2="" calculationType3=""
     calculationParameter3="" calculationType4="" calculationParameter4="" />
    <fileReader fileFolder="" fileName="" readFrequency="" delimiter=""
     fixedPosData="" fixedPosStart="" fixedPosTotal="" dataField=""
     decimalSeparator="" autoExtractValue="" calculationType1="" calculationParameter1=""
     calculationType2="" calculationParameter2="" calculationType3=""
     calculationParameter3="" calculationType4="" calculationParameter4="" />
   </sensor>
  </SensorHeaders>
 </SensorData>


	<SensorGroupID>
		<SensorGroupIDHeaders>
			<sensorGroup id="0" name="GPS" dbColumn="gps" active="True" />
			<sensorGroup id="1" name="MOTION 1" dbColumn="motion_1" active="True" />
			<sensorGroup id="2" name="MOTION 2" dbColumn="motion_2" active="True" />
			<sensorGroup id="3" name="AIR DATA" dbColumn="air_data" active="True" />
			<sensorGroup id="4" name="VISIBILITY" dbColumn="visibility" active="True" />
			<sensorGroup id="5" name="WEATHER" dbColumn="weather" active="True" />
			<sensorGroup id="6" name="CLOUDS" dbColumn="clouds" active="True" />
			<sensorGroup id="7" name="WIND" dbColumn="wind" active="True" />
			<sensorGroup id="8" name="HEADING" dbColumn="heading" active="True" />
			<sensorGroup id="9" name="DATABASE" dbColumn="" active="True" />
			<sensorGroup id="10" name="" dbColumn="" active="False" />
			<sensorGroup id="11" name="" dbColumn="" active="False" />
		</SensorGroupIDHeaders>
	</SensorGroupID>

	<HMSData>
		<HMSDataItems>
			<data id="1" name="Latitude" dataId="1" sensorId="0" dbTableName="latitude" />
			<data id="2" name="Longitude" dataId="2" sensorId="0" dbTableName="longitude" />
			<data id="3" name="Pitch" dataId="10" sensorId="1" dbTableName="pitch" />
			<data id="4" name="Roll" dataId="11" sensorId="1" dbTableName="roll" />
			<data id="5" name="Heave" dataId="22" sensorId="2" dbTableName="heave" />
			<data id="6" name="Heave Rate" dataId="52" sensorId="2" dbTableName="heave_rate" />
			<data id="7" name="Air Temperature" dataId="25" sensorId="3"
    dbTableName="air_temperature" />
			<data id="8" name="Air Humidity" dataId="49" sensorId="3" dbTableName="air_humidity" />
			<data id="9" name="Air Pressure" dataId="24" sensorId="3" dbTableName="air_pressure" />
			<data id="10" name="Visibility" dataId="23" sensorId="4" dbTableName="visibility" />
			<data id="11" name="Weather Phenomena" dataId="27" sensorId="5"
    dbTableName="weather_phenomena" />
			<data id="12" name="Cloud Layer 1 Base" dataId="29" sensorId="6"
    dbTableName="cloud_layer_1_base" />
			<data id="13" name="Cloud Layer 1 Coverage" dataId="35" sensorId="6"
    dbTableName="cloud_layer_1_coverage" />
			<data id="14" name="Cloud Layer 2 Base" dataId="30" sensorId="6"
    dbTableName="cloud_layer_2_base" />
			<data id="15" name="Cloud Layer 2 Coverage" dataId="36" sensorId="6"
    dbTableName="cloud_layer_2_coverage" />
			<data id="16" name="Cloud Layer 3 Base" dataId="31" sensorId="6"
    dbTableName="cloud_layer_3_base" />
			<data id="17" name="Cloud Layer 3 Coverage" dataId="37" sensorId="6"
    dbTableName="cloud_layer_3_coverage" />
			<data id="18" name="Cloud Layer 4 Base" dataId="31" sensorId="6"
    dbTableName="cloud_layer_4_base" />
			<data id="19" name="Cloud Layer 4 Coverage" dataId="53" sensorId="6"
    dbTableName="cloud_layer_4_coverage" />
			<data id="20" name="Area Wind Direction (RT)" dataId="32" sensorId="7"
    dbTableName="area_wind_direction_rt" />
			<data id="21" name="Area Wind Speed (RT)" dataId="33" sensorId="7"
    dbTableName="area_wind_speed_rt" />
			<data id="22" name="Vessel Heading" dataId="34" sensorId="8"
    dbTableName="vessel_heading" />
			<data id="23" name="Vessel Speed" dataId="41" sensorId="8" dbTableName="vessel_speed" />
			<data id="24" name="Acceleration X" dataId="38" sensorId="1"
    dbTableName="acceleration_x" />
			<data id="25" name="Acceleration Y" dataId="39" sensorId="1"
    dbTableName="acceleration_y" />
			<data id="26" name="Acceleration Z" dataId="40" sensorId="1"
    dbTableName="acceleration_z" />
		</HMSDataItems>
	</HMSData>

	<HelicopterWSILimit>
		<HelicopterWSILimitHeaders>
			<helicopter id="0" limit="43" />
			<helicopter id="1" limit="43" />
			<helicopter id="2" limit="43" />
			<helicopter id="3" limit="43" />
			<helicopter id="4" limit="43" />
			<helicopter id="5" limit="43" />
			<helicopter id="6" limit="43" />
			<helicopter id="7" limit="43" />
			<helicopter id="8" limit="43" />
			<helicopter id="9" limit="43" />
			<helicopter id="10" limit="43" />
			<helicopter id="11" limit="43" />
			<helicopter id="12" limit="43" />
			<helicopter id="13" limit="43" />
			<helicopter id="14" limit="43" />
			<helicopter id="15" limit="43" />
			<helicopter id="16" limit="43" />
		</HelicopterWSILimitHeaders>
	</HelicopterWSILimit>

	<LightsOutput>
  <SensorHeaders>
   <sensor id="1" type="SerialPort" name="Lights Output 1" description="Helideck Light System Output 1"
    saveToDatabase="False" saveFreq="Sensor">
    <serialPort portName="COM7" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" packetHeader="$GPGGA" packetEnd="\r\n"
     packetDelimiter="," packetCombineFields="Odd" fixedPosData="False"
     fixedPosStart="0" fixedPosTotal="0" dataField="1" decimalSeparator="Point"
     autoExtractValue="False" calculationType1="GPSPosition" calculationParameter1="0"
     calculationType2="None" calculationParameter2="0" calculationType3="None"
     calculationParameter3="0" calculationType4="None" calculationParameter4="0" />
   </sensor>
  </SensorHeaders>
 </LightsOutput>

</configuration>