<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="HelideckHeadingOffset" value="360" />
        <add key="MSICorrectionR" value="1" />
        <add key="WindSamplesPerTransmission" value="2" />
        <add key="OverrideWindBuffer" value="1" />
        <add key="OverrideMotionBuffer" value="1" />
        <add key="ServerPort" value="8108" />
        <add key="DatabaseAddress" value="127.0.0.1" />
        <add key="DatabasePort" value="3306" />
        <add key="DataStorageTime" value="183" />
        <add key="ErrorMessageStorageTime" value="183" />
        <add key="SetupGUIDataLimit" value="200" />
        <add key="ServerUIUpdateFrequency" value="1000" />
        <add key="DatabaseSaveFrequency" value="1000" />
        <add key="DataTimeout" value="10000" />
        <add key="HMSProcessingFrequency" value="250" />
        <add key="LightsOutputFrequency" value="1000" />
        <add key="NDBFrequency_NOROG" value="190.000" />
        <add key="NDBFrequency_CAP" value="190.000" />
        <add key="VHFFrequency" value="030.000" />
        <add key="LogFrequency" value="030.000" />
        <add key="MarineChannel" value="16" />
        <add key="EmailPort" value="25" />
        <add key="EmailUsername" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAvx4TNspwUk6SkhosB0d2uwAAAAACAAAAAAAQZgAAAAEAACAAAAC5+Engt6wUnRua8Rw/14taVBGMXz5kLhkFZ6MS2cSlcQAAAAAOgAAAAAIAACAAAAASp4nqE6hNYBfoj1ZdATI0lV1wk4pEHAKd16znaXyTYBAAAAC7vqVLvd3uPu2KTywL4O3XQAAAAErpVDbR2UuZy+TwmO8dQ+BgvfEMpbGwqhZbleMw48Ua2mWF8aLGiDBsvlnQ50vxXHG4/8G47Quu2hALcx6UF4w=" />
        <add key="EmailPassword" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAvx4TNspwUk6SkhosB0d2uwAAAAACAAAAAAAQZgAAAAEAACAAAAAbH7Z+F6Ua1fRwGzB0zqgbRmmjsgdIpsXmgn/VU+2VlgAAAAAOgAAAAAIAACAAAADmjb9jd0y/x9SSfYUCe/ore5H4aK/pMti01SAJlbQV0BAAAABHgrnnBBZbasJ9oXvkyBWnQAAAALuhGn0QX34zzCJ8UZeIv0qkmJRWIeqbI39x/efGqtEVTYJdZJWXZd0vgYt2eFqBujjNqsptNRd4L3pYQWSBp5g=" />
        <add key="EmailSecureConnection" value="0" />
        <add key="DataVerificationEnabled" value="0" />
        <add key="MagneticDeclination" value="0" />
        <add key="HelideckLightsOutput" value="0" />
        <add key="EnableEMS" value="0" />
        <add key="AutoStartHMS" value="1" />
        <add key="WindDirectionReference" value="VesselHeading" />
        <add key="VesselHeadingReference" value="MagneticNorth" />
        <add key="HelideckHeight" value="0" />
        <add key="WindSensorHeight" value="0" />
        <add key="WindSensorDistance" value="0" />
        <add key="AirPressureSensorHeight" value="0" />
        <add key="LightsOutputAddress1" value="1" />
        <add key="LightsOutputAddress2" value="1" />
        <add key="LightsOutputAddress3" value="1" />
        <add key="LicenseOwner" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAvx4TNspwUk6SkhosB0d2uwAAAAACAAAAAAAQZgAAAAEAACAAAACqwLLOFDC8rGvx3psQp5KqRnFUW8HwdtG/c1oHSVuJvwAAAAAOgAAAAAIAACAAAAAIicA1sQpTtZbYsldwFh2EXSm7AYgqfayzsHmgKPLE1xAAAADTCnJ2wyl974IgbAZ65Ie9QAAAAO7sMTEh65NrOSnC9emZmkXTAOvzkkuhNJ16Iez2ynRV40dL+Jh0xZSFn/jq2zUAfWIhVcQY79G1jCkNBYVMsHU=" />
        <add key="LicenseLocation" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAvx4TNspwUk6SkhosB0d2uwAAAAACAAAAAAAQZgAAAAEAACAAAACYCkRKkUymkMIx0q/I7HOoFI8ZchGbxaTA71KjpJz8bAAAAAAOgAAAAAIAACAAAAAgEkrclNT7ZXFAdZjauM3OX2UmaqTvFc12Z5df0rdDkSAAAADHARxjdMH/D6phlqRaS+wPvBNVoRECv9u9qoqEak8JjkAAAADjSbo5d/nmZC+meazfiF/Aqyah9ACIOFcRu2024E0tkcJUiU3u28F4nOuyqWHXoGOWmlirLeaWlVQ5/ajLdXit" />
        <add key="LicenseMaxClients" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAvx4TNspwUk6SkhosB0d2uwAAAAACAAAAAAAQZgAAAAEAACAAAACB1bCzzt48BzIOVH2OCi8yr324wEERQMsV76sV8B2eWgAAAAAOgAAAAAIAACAAAAAxTMgiKwnAHdyKmsyFmWXgdlZJLVJi9tSqiVS4KxHzNRAAAAAz1gKQAb/c3cF2mmFIdUaNQAAAAEIY4m9tf/24uObuVGq+j5cFWQma6xYwGi+F3G4l+6YrW9t6jTo7m1sDIWGrGNbZvSHk6g7X4aIpx6Yct3g+k3M=" />
        <add key="DeviceID" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAvx4TNspwUk6SkhosB0d2uwAAAAACAAAAAAAQZgAAAAEAACAAAADifcBh5K6zPpkQr3VG1ZZA97lADxkTAfSb3+Vwh0PQYQAAAAAOgAAAAAIAACAAAAC4/XXMihOpDjD/NjR0JTEGT5mQwUWknfogHyLDJSaKQ3AAAAAfyUoYRIw76n9EgylHPuh0Q5XrPWTUemxidWhlGRWT6fBrrt86KiOU8cx4vQ4IeNAPidtbUHWEqP12o5SQtiCyEENiB0LRl7N4WPmwH27fAuNV7MRlzggLIJjKO0EjOkIDXF2c88P/GU4fGHaHe/lUQAAAABQRSMzMJDuXs7oihGeLKHPPByVvTW7U5X5RYojmHyGFv7+pgskNcrRqcaR+mIDVRtYVtmkxpeRv3ofrt04SUVQ=" />
        <add key="RegulationStandard" value="CAP" />
        <add key="VesselName" value="Swire Explorer" />
        <add key="DatabaseName" value="ses_hms" />
        <add key="DatabaseUserID" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAvx4TNspwUk6SkhosB0d2uwAAAAACAAAAAAAQZgAAAAEAACAAAADZAki2C2YrVV8VaVW5otZH4aQenMArR9c13vEmk83z0gAAAAAOgAAAAAIAACAAAABYKMVjhodreW7mxdU6IUJTB6u1wUtaXmgE1EPWqME9GBAAAAC5fAaROC+PKxEZ/Q0MdMFgQAAAAHm2A6PQzExfoDjcSSIgdCOGjoiQAm+6dxpuWw3h8asjGW47Nj/xEoQ9LyrIF/zb5gN9hl/0bJqNSFfyikI+8s8=" />
        <add key="DatabasePassword" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAvx4TNspwUk6SkhosB0d2uwAAAAACAAAAAAAQZgAAAAEAACAAAACJpxLk+auxzfkgaG8Iz+rT7hKfV5mni67ZyZ9QTdVh9AAAAAAOgAAAAAIAACAAAADAwGIDqs+o9RSMSg6yOGohvCs3LfggiZjYE8o+qKnmZhAAAAAoFhUKRECziXC9tL3QymfcQAAAAKhNZNXwl7PavkQi3RELtbBYeKWdXR5s4Skul8Uqp8b65q8Gzf79ao/yGrCALuLJcz3K1cPk/i0wmPSXQSAugEc=" />
        <add key="HelicopterType" value="Default" />
        <add key="HelideckCategory" value="Category1" />
        <add key="DayNight" value="Day" />
        <add key="DisplayMode" value="PreLanding" />
        <add key="OnDeckTime" value="01/01/0001 00:00:00" />
        <add key="OnDeckHelicopterHeading" value="0" />
        <add key="OnDeckVesselHeading" value="0" />
        <add key="OnDeckWindDirection" value="0" />
        <add key="RestrictedSectorFrom" value="360" />
        <add key="RestrictedSectorTo" value="360" />
    </appSettings>
</configuration>