<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="HelideckHeadingOffset" value="360" />
        <add key="MSICorrectionR" value="1" />
        <add key="WindSamplesPerTransmission" value="1" />
        <add key="OverrideWindBuffer" value="1" />
        <add key="OverrideMotionBuffer" value="1" />
        <add key="ServerPort" value="8108" />
        <add key="DatabaseAddress" value="127.0.0.1" />
        <add key="DatabasePort" value="3306" />
        <add key="DataStorageTime" value="183" />
        <add key="ErrorMessageStorageTime" value="183" />
        <add key="SetupGUIDataLimit" value="200" />
        <add key="ServerUIUpdateFrequency" value="1000" />
        <add key="DatabaseSaveFrequency" value="1000" />
        <add key="DataTimeout" value="5000" />
        <add key="HMSProcessingFrequency" value="250" />
        <add key="LightsOutputFrequency" value="1000" />
        <add key="NDBFrequency_NOROG" value="190.000" />
        <add key="NDBFrequency_CAP" value="190.000" />
        <add key="VHFFrequency" value="030.000" />
        <add key="LogFrequency" value="030.000" />
        <add key="MarineChannel" value="16" />
        <add key="EmailPort" value="25" />
        <add key="EmailUsername" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAArC/2HMJ8U0Gjz8K4c+dUhgAAAAACAAAAAAADZgAAwAAAABAAAAAfDg3ivhhgK99j4SZFcd3ZAAAAAASAAACgAAAAEAAAAAr8urGFuRgYCq4XcpjGg1EIAAAANZJiPqV3J3QUAAAA9jnnUm+wIUcTF6AGeFCbe2FlDbk=" />
        <add key="EmailPassword" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAArC/2HMJ8U0Gjz8K4c+dUhgAAAAACAAAAAAADZgAAwAAAABAAAAA9D9x6foFQO1jW+NCvVkS/AAAAAASAAACgAAAAEAAAAIrP9st7iFvU/s67FgeCoNYIAAAA3IaeFfK0QL0UAAAAL9UNum4wLYqpp0f8qhcSXkiZ5bw=" />
        <add key="EmailSecureConnection" value="0" />
        <add key="MagneticDeclination" value="0" />
        <add key="HelideckLightsOutput" value="1" />
        <add key="EnableEMS" value="0" />
        <add key="AutoStartHMS" value="1" />
        <add key="WindDirectionReference" value="VesselHeading" />
        <add key="VesselHeadingReference" value="TrueNorth" />
        <add key="HelideckHeight" value="10" />
        <add key="WindSensorHeight" value="20" />
        <add key="WindSensorDistance" value="0" />
        <add key="AirPressureSensorHeight" value="15" />
        <add key="LightsOutputAddress1" value="1" />
        <add key="LightsOutputAddress2" value="1" />
        <add key="LightsOutputAddress3" value="1" />
        <add key="LicenseOwner" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAArC/2HMJ8U0Gjz8K4c+dUhgAAAAACAAAAAAADZgAAwAAAABAAAAD8C7hXW/pHHPTsLO50xXPHAAAAAASAAACgAAAAEAAAACM57o/A+PhyBmrajG0H1Q8gAAAANQdU03WaXUzh8L/VAw25rZ/kMB+ohMpN7X4mVzAPejUUAAAAvf1XzO5+crXf0urNcWTqGh5tf4A=" />
        <add key="LicenseLocation" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAArC/2HMJ8U0Gjz8K4c+dUhgAAAAACAAAAAAADZgAAwAAAABAAAAB13ccbWdwNoT9hgFrOfZZlAAAAAASAAACgAAAAEAAAAKstb4LyXuutAmUTsx3H27sYAAAAEmaa77H+SOxRo2ZiNgVJ/FNnFy0AiFXlFAAAAFCBE8R4yDm0RIdyQyGhAjvbvQVo" />
        <add key="LicenseMaxClients" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAArC/2HMJ8U0Gjz8K4c+dUhgAAAAACAAAAAAADZgAAwAAAABAAAACk/8Yvv6fA5M1cYMNORd6QAAAAAASAAACgAAAAEAAAAMAK08vWt58oBT3MqKiRHKQIAAAAYkd8itv5ikQUAAAAi1vdya2uBhGATMmNfaFQrzY/1Y8=" />
        <add key="DeviceID" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAArC/2HMJ8U0Gjz8K4c+dUhgAAAAACAAAAAAADZgAAwAAAABAAAABW1Tf9m/FTwyzeI4weVRAzAAAAAASAAACgAAAAEAAAAEm2bTHmDQKq4+6Kvk3ttKdwAAAA3Shclx1Nw/J7nmH1JfzdFLHcfJwL0b+vjnFTF8ty8mFbJjlY8uivOuA/AVVJXZtRMcWibYLdlOSJeIN1wEv5S2oF1wcf421k7IOi9aa9wDxgsbu+U9GbxndLXhprokV7B1CVXxujsm7GsTWSiwVzrRQAAAAt5takWJBB0KAgvnnOFwL/S3GJgQ==" />
        <add key="RegulationStandard" value="CAP" />
        <add key="VesselName" value="Swire Explorer" />
        <add key="DatabaseName" value="ses_hms" />
        <add key="DatabaseUserID" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAArC/2HMJ8U0Gjz8K4c+dUhgAAAAACAAAAAAADZgAAwAAAABAAAACDFvEBlDwnz+FhMuWGeXwYAAAAAASAAACgAAAAEAAAAMt+KKk0XFOPA4AcvwTZhQMQAAAAJO5+T9ovRqnVJtSSey/phhQAAABJ7CmdDjtN6uLQHoNkZrgWNBMeTA==" />
        <add key="DatabasePassword" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAArC/2HMJ8U0Gjz8K4c+dUhgAAAAACAAAAAAADZgAAwAAAABAAAADD3fWanPy3jxiTuBq8a5BPAAAAAASAAACgAAAAEAAAAKYOW/ipo8D32bUvMGAiG+EQAAAA3kewzpshYfJfZ7jbFy0gMRQAAADwwagJY8uR3+NKbZwfe2niPZMpUg==" />
        <add key="HelicopterType" value="Default" />
        <add key="HelideckCategory" value="Category1" />
        <add key="DayNight" value="Day" />
        <add key="DisplayMode" value="PreLanding" />
        <add key="OnDeckTime" value="1/1/0001 12:00:00 AM" />
        <add key="OnDeckHelicopterHeading" value="0" />
        <add key="OnDeckVesselHeading" value="0" />
        <add key="OnDeckWindDirection" value="0" />
        <add key="RestrictedSectorFrom" value="360" />
        <add key="RestrictedSectorTo" value="360" />
        <add key="WaveHeightCutoff" value="0.1" />
        <add key="FixedHeading" value="360" />
        <add key="FixedHeadingValue" value="360" />
        <add key="FixedInstallation" value="0" />
        <add key="NDBIdent" value="" />
        <add key="FATEnabled" value="1" />
        <add key="CAPDataVerificationEnabled" value="1" />
        <add key="CAPFATEnabled" value="0" />
        <add key="DataVerificationEnabled" value="0" />
        <add key="SensorStatusInputMRU" value="1" />
        <add key="SensorStatusInputGyro" value="1" />
        <add key="SensorStatusInputWind" value="1" />
        <add key="SensorStatusInputSOGCOG" value="1" />
        <add key="NDBInstalled_CAP" value="0" />
    </appSettings>
</configuration>