<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="HelideckHeadingOffset" value="360" />
        <add key="MSICorrectionR" value="1" />
        <add key="WindSamplesPerTransmission" value="1" />
        <add key="OverrideWindBuffer" value="0" />
        <add key="OverrideMotionBuffer" value="0" />
        <add key="ServerPort" value="8108" />
        <add key="DatabaseAddress" value="127.0.0.1" />
        <add key="DatabasePort" value="3306" />
        <add key="DataStorageTime" value="183" />
        <add key="ErrorMessageStorageTime" value="183" />
        <add key="SetupGUIDataLimit" value="200" />
        <add key="ServerUIUpdateFrequency" value="1000" />
        <add key="DatabaseSaveFrequency" value="1000" />
        <add key="DataTimeout" value="5000" />
        <add key="HMSProcessingFrequency" value="250" />
        <add key="LightsOutputFrequency" value="1000" />
        <add key="NDBFrequency_NOROG" value="190.000" />
        <add key="NDBFrequency_CAP" value="190.000" />
        <add key="VHFFrequency" value="030.000" />
        <add key="LogFrequency" value="030.000" />
        <add key="MarineChannel" value="16" />
        <add key="EmailPort" value="25" />
        <add key="EmailUsername" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVMlIqORkVE2/OV4zrY8elgAAAAACAAAAAAAQZgAAAAEAACAAAABWtwlXSOAKiVnPqpqKs5fMbKLpz/amIH1MMp+rY678sAAAAAAOgAAAAAIAACAAAAAib6QHHOSHrZpfpUUq/JPiI0pN3ptHhiCGN7Qu9/GU0RAAAABeFuP90EGAq0Q1UVB9H4bmQAAAAFlPXJREzIItTjTkalq71i9WRvM3Rb91Q+OO8frrb0wrvaEfbTHhDjpE/r4PZzKh9FNWNrjFqmCuUN/MYmeHHyw=" />
        <add key="EmailPassword" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVMlIqORkVE2/OV4zrY8elgAAAAACAAAAAAAQZgAAAAEAACAAAAADg2cGKMivyidSMO2Z7xs7B7OGHTju3svkNitPeULJXQAAAAAOgAAAAAIAACAAAADqHviIajSaP+KlcDg0tph8sxgcgpotm/pfLnArAZW3yhAAAADRsX51MS8XzUqjk3qlsodLQAAAAE8tSjrsxb/q62BBNf24N0LQltkcbxTlUYC8F8pyKa1Hi5+F7SaY8Bp81G3Lr3vQV20zeqY9ekbGVQd/jVFqkIQ=" />
        <add key="EmailSecureConnection" value="0" />
        <add key="MagneticDeclination" value="0" />
        <add key="HelideckLightsOutput" value="0" />
        <add key="EnableEMS" value="0" />
        <add key="AutoStartHMS" value="1" />
        <add key="WindDirectionReference" value="VesselHeading" />
        <add key="VesselHeadingReference" value="MagneticNorth" />
        <add key="HelideckHeight" value="0" />
        <add key="WindSensorHeight" value="0" />
        <add key="WindSensorDistance" value="0" />
        <add key="AirPressureSensorHeight" value="15" />
        <add key="LightsOutputAddress1" value="1" />
        <add key="LightsOutputAddress2" value="1" />
        <add key="LightsOutputAddress3" value="1" />
        <add key="LicenseOwner" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVMlIqORkVE2/OV4zrY8elgAAAAACAAAAAAAQZgAAAAEAACAAAAA6N7YGhZL6llOv7w9htK3aIAB7NaHBeiJIIb4EkIEcSgAAAAAOgAAAAAIAACAAAAAcXZmCW5Nc2A6bFkjoUIIRnwndLEJqwP9g6i0SBbkb+xAAAABomN8v0q+BtHpVrWNaWmApQAAAAOJyYXBHMxrxkUTOsxaPLgc+s9W0h3EKMTt697i4p3+l7o9LkwF+yHpsF/eqlXptiPQbkmqxRCHS5/Ang9Bgwas=" />
        <add key="LicenseLocation" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVMlIqORkVE2/OV4zrY8elgAAAAACAAAAAAAQZgAAAAEAACAAAADmGlMiHJOwmeVfm3M2sCYjrK+e4r9QYyP3GGTofBHcIgAAAAAOgAAAAAIAACAAAADv2xmGmily24faq3SREIqDNSxjOW4qxNYUrLJwJkNYiRAAAAC0X3LvmEo/gAvaKGcKKI7CQAAAANNPSSdMT5E5HUeVLSb5nbKAwgavkuH2x289vyL3ClG2yRXZ0bfvWoBIqOi2VOj9O2W7DuSDgWe7XfDRwhRX/lM=" />
        <add key="LicenseMaxClients" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVMlIqORkVE2/OV4zrY8elgAAAAACAAAAAAAQZgAAAAEAACAAAABRaLsYBh+4XV5WIboyn1IOeqRXkd42SAo9oEU87Wa/HgAAAAAOgAAAAAIAACAAAABA4/xv6BaS2EQ0C8KCa9twUCFe3kIpDCui21BdZSdi7xAAAADsWs3LZNodvQXMjvKzxFWyQAAAADed4pDypeNDws4YrDiJSCF+xMtcSGb39Xl8qP2kIBcj85RrCeO8462eSaswgDBW408TFGqUabeB6kDbSF1JYYc=" />
        <add key="DeviceID" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVMlIqORkVE2/OV4zrY8elgAAAAACAAAAAAAQZgAAAAEAACAAAAAPqoxtEDctcBZdtCS3Gfsw/V2qePTb8geE2bjt5TZHPwAAAAAOgAAAAAIAACAAAABCfaJ5xgZ2aarzvq2uNpJrhdr/Z2+qrEDnMydZDBUQGXAAAABzuge2tKha7xY0smF2w/ZRbPbNnGmlI9fJSfOJDNocY3mHdiO++jTRKOoLNGuT3unMbqY8wNU+mu/MDkLwWrNqTNmFBPh2zSIQ693clE7UFJCGTG+Xpv23aGR1S4feuqHWZZ3oF4J5qtldwjOi+9IBQAAAAJbbv2REGlD81Uiu4FWPZO5BJlfRdVOsCV/n8chkQg+1u15q/T0/n9TgLn9hpm7m/oZgVtVsFZgdHuWe9+jQ4hg=" />
        <add key="RegulationStandard" value="CAP" />
        <add key="VesselName" value="Swire Explorer" />
        <add key="DatabaseName" value="ses_hms" />
        <add key="DatabaseUserID" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVMlIqORkVE2/OV4zrY8elgAAAAACAAAAAAAQZgAAAAEAACAAAAAL57TfiZDQEfJq3GEHJAF08T7wYKZlAdJs0RVx//ULVAAAAAAOgAAAAAIAACAAAAD7yIg7ydU12LQfAHJMuRWcHDlLuBxo3C8dDxHKA9FaaRAAAADtqO6qNfB1lrkxBtef5A6ZQAAAAMXE59N/w3rrYcDyy6IR35rvi7YV710PAhvkNB5XV7BWziFbk0n6MmtPTQ/AEWzaHWgMWIFZT0std/lqj/ivrrc=" />
        <add key="DatabasePassword" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVMlIqORkVE2/OV4zrY8elgAAAAACAAAAAAAQZgAAAAEAACAAAADvw1m16tIE4G3cjp5kGuUAeS/waaL+LRNy7nowCdFugwAAAAAOgAAAAAIAACAAAAAbb6QEITCBylRKSxfz1RfMZXcJ/xeZpko1nApwiXwdNxAAAADAMN8lbHpUApGugDbcSpmaQAAAAObRGY+rXJTk3rFAkSPqW7nu7nBTCiX0IRKhdRVOGc9jX6v1JPuAuBzDcZFb6IC/Wz1ApANC9jDDyyNZdEe6h1E=" />
        <add key="HelicopterType" value="Default" />
        <add key="HelideckCategory" value="Category1" />
        <add key="DayNight" value="Day" />
        <add key="DisplayMode" value="PreLanding" />
        <add key="OnDeckTime" value="01/01/0001 00:00:00" />
        <add key="OnDeckHelicopterHeading" value="0" />
        <add key="OnDeckVesselHeading" value="0" />
        <add key="OnDeckWindDirection" value="0" />
        <add key="RestrictedSectorFrom" value="360" />
        <add key="RestrictedSectorTo" value="360" />
        <add key="WaveHeightCutoff" value="0.1" />
        <add key="FixedHeading" value="360" />
        <add key="FixedHeadingValue" value="360" />
        <add key="FixedInstallation" value="0" />
        <add key="NDBIdent" value="" />
        <add key="FATEnabled" value="1" />
        <add key="CAPDataVerificationEnabled" value="1" />
        <add key="CAPFATEnabled" value="0" />
        <add key="DataVerificationEnabled" value="0" />
    </appSettings>
</configuration>