<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="HelicopterOperator" type="HMS_Client.HelicopterOperatorConfigSection, HMS_Client" />
	</configSections>

	<appSettings>
  <add key="NameOfHLO" value="Espen Øijordsbakken" />
  <add key="Email" value="espenoij@altiboxmail.no" />
  <add key="Telephone" value="12 34 56 78" />
  <add key="ClientIsMaster" value="0" />
  <add key="DynamicPositioning" value="1" />
  <add key="AccurateMonitoringEquipment" value="1" />
  <add key="AreaWindDirection" value="12" />
  <add key="AreaWindVelocity" value="13" />
  <add key="AreaWindGust" value="0" />
  <add key="OtherWeatherInfo" value="Fog banks to the east." />
  <add key="FlightNumber" value="HX5555" />
  <add key="ReturnLoad" value="8" />
  <add key="TotalLoad" value="1880" />
  <add key="Luggage" value="340" />
  <add key="Cargo" value="670" />
  <add key="SeaSprayObserved" value="1" />
  <add key="HelifuelAvailable" value="1" />
  <add key="FuelQuantity" value="15000" />
  <add key="Routing1" value="UNO" />
  <add key="Routing2" value="DOS" />
  <add key="Routing3" value="TRES" />
  <add key="Routing4" value="QUATRO" />
  <add key="LogInfoRemarks" value="Temporary VHF frequency in use: 115.45" />
  <add key="HelicopterOperator" value="CHC Helikopter Service" />
  <add key="EmailTo" value="espenoij@gmail.com" />
  <add key="EmailCC" value="" />
  <add key="EmailSubject" value="Offshore Weather Report - Swire Explorer" />
  <add key="EmailBody" value="The latest report." />
  <add key="SendHMSScreenCapture" value="1" />
  <add key="ResqueRecoveryAvailable" value="0" />
  <add key="RescueRecoveryAvailable" value="1" />
  <add key="NDBServiceable" value="1" />
  <add key="ColdFlaring" value="1" />
  <add key="LightningPresent" value="1" />
  <add key="AnyUnserviceableSensors" value="1" />
  <add key="AnyUnserviceableSensorsComments" value="Wind sensor not working 01.01.2021." />
  <add key="EnableReportEmail" value="0" />
 </appSettings>

	<HelicopterOperator>
		<HelicopterOperatorHeaders>
			<helicopterOperator id="0" name="Other" email="" />
			<helicopterOperator id="1" name="Bristow Norway" email="helideck.norway@bristowgroup.com" />
			<helicopterOperator id="2" name="CHC Helikopter Service" email="helideck@chc.ca" />
			<helicopterOperator id="3" name="Norsk Helikopterservice" email="ops@norskhelikopterservice.no" />
		</HelicopterOperatorHeaders>
	</HelicopterOperator>

</configuration>