<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="Header" type="System.Configuration.AppSettingsSection" />
		<section name="SensorData" type="HMS_Server.SensorConfigSection, HMS_Server" />
		<section name="SensorGroupID" type="HMS_Server.SensorGroupIDConfigSection, HMS_Server" />
		<section name="HMSData" type="HMS_Server.HMSDataConfigSection, HMS_Server" />
		<section name="TestData" type="HMS_Server.TestDataConfigSection, HMS_Server" />
		<section name="ReferenceData" type="HMS_Server.ReferenceDataConfigSection, HMS_Server" />
		<section name="HelicopterWSILimit" type="HMS_Server.HelicopterWSILimitConfigSection, HMS_Server" />
		<section name="LightsOutput" type="HMS_Server.SensorConfigSection, HMS_Server" />
	</configSections>

	<appSettings>
		<add key="DynamicPositioning" value="1" />
		<add key="AccurateMonitoringEquipment" value="1" />
	</appSettings>
	<Header>
  <add key="nextID" value="1" />
 </Header>

	<SensorData>
  <SensorHeaders>
   
  </SensorHeaders>
 </SensorData>


	<SensorGroupID>
  <SensorGroupIDHeaders>
   <sensorGroup id="0" name="GPS" dbColumn="gps" active="True" />
   <sensorGroup id="1" name="MOTION 1" dbColumn="motion_1" active="True" />
   <sensorGroup id="2" name="AIR DATA" dbColumn="air_data" active="True" />
   <sensorGroup id="3" name="VISIBILITY" dbColumn="visibility" active="True" />
   <sensorGroup id="4" name="WEATHER" dbColumn="weather" active="True" />
   <sensorGroup id="5" name="CLOUDS" dbColumn="clouds" active="True" />
   <sensorGroup id="6" name="WIND" dbColumn="wind" active="True" />
   <sensorGroup id="7" name="HEADING" dbColumn="heading" active="True" />
   <sensorGroup id="8" name="DATABASE" dbColumn="" active="True" />
   <sensorGroup id="9" name="" dbColumn="" active="False" />
   <sensorGroup id="10" name="" dbColumn="" active="False" />
   <sensorGroup id="11" name="" dbColumn="" active="False" />
  </SensorGroupIDHeaders>
 </SensorGroupID>

	<HMSData>
  <HMSDataItems>
   <data id="1" name="Latitude" dataId="0" sensorId="0" dbTableName="latitude" />
   <data id="2" name="Longitude" dataId="0" sensorId="0" dbTableName="longitude" />
   <data id="3" name="Pitch" dataId="0" sensorId="1" dbTableName="pitch" />
   <data id="4" name="Roll" dataId="0" sensorId="1" dbTableName="roll" />
   <data id="5" name="Heave" dataId="0" sensorId="1" dbTableName="heave" />
   <data id="6" name="Heave Rate" dataId="0" sensorId="1" dbTableName="heave_rate" />
   <data id="7" name="Air Temperature" dataId="0" sensorId="2"
    dbTableName="air_temperature" />
   <data id="8" name="Air Humidity" dataId="0" sensorId="2" dbTableName="air_humidity" />
   <data id="9" name="Air Pressure" dataId="0" sensorId="2" dbTableName="air_pressure" />
   <data id="10" name="Visibility" dataId="0" sensorId="3" dbTableName="visibility" />
   <data id="11" name="Weather Phenomena" dataId="0" sensorId="4"
    dbTableName="weather_phenomena" />
   <data id="12" name="Cloud Layer 1 Base" dataId="0" sensorId="5"
    dbTableName="cloud_layer_1_base" />
   <data id="13" name="Cloud Layer 1 Coverage" dataId="0" sensorId="5"
    dbTableName="cloud_layer_1_coverage" />
   <data id="14" name="Cloud Layer 2 Base" dataId="0" sensorId="5"
    dbTableName="cloud_layer_2_base" />
   <data id="15" name="Cloud Layer 2 Coverage" dataId="0" sensorId="5"
    dbTableName="cloud_layer_2_coverage" />
   <data id="16" name="Cloud Layer 3 Base" dataId="0" sensorId="5"
    dbTableName="cloud_layer_3_base" />
   <data id="17" name="Cloud Layer 3 Coverage" dataId="0" sensorId="5"
    dbTableName="cloud_layer_3_coverage" />
   <data id="18" name="Cloud Layer 4 Base" dataId="0" sensorId="5"
    dbTableName="cloud_layer_4_base" />
   <data id="19" name="Cloud Layer 4 Coverage" dataId="0" sensorId="5"
    dbTableName="cloud_layer_4_coverage" />
   <data id="20" name="Area Wind Direction (RT)" dataId="0" sensorId="6"
    dbTableName="area_wind_direction_rt" />
   <data id="21" name="Area Wind Speed (RT)" dataId="0" sensorId="6"
    dbTableName="area_wind_speed_rt" />
   <data id="22" name="Vessel Heading" dataId="0" sensorId="7"
    dbTableName="vessel_heading" />
   <data id="23" name="Vessel Speed" dataId="0" sensorId="7" dbTableName="vessel_speed" />
   <data id="24" name="Vessel COG" dataId="0" sensorId="7" dbTableName="vessel_cog" />
   <data id="25" name="Vessel SOG" dataId="0" sensorId="7" dbTableName="vessel_sog" />
   <data id="26" name="Acceleration X" dataId="0" sensorId="1"
    dbTableName="acceleration_x" />
   <data id="27" name="Acceleration Y" dataId="0" sensorId="1"
    dbTableName="acceleration_y" />
   <data id="28" name="Acceleration Z" dataId="0" sensorId="1"
    dbTableName="acceleration_z" />
  </HMSDataItems>
 </HMSData>

	<HelicopterWSILimit>
		<HelicopterWSILimitHeaders>
			<helicopter id="0" limit="43" />
			<helicopter id="1" limit="43" />
			<helicopter id="2" limit="43" />
			<helicopter id="3" limit="43" />
			<helicopter id="4" limit="43" />
			<helicopter id="5" limit="43" />
			<helicopter id="6" limit="43" />
			<helicopter id="7" limit="43" />
			<helicopter id="8" limit="43" />
			<helicopter id="9" limit="43" />
			<helicopter id="10" limit="43" />
			<helicopter id="11" limit="43" />
			<helicopter id="12" limit="43" />
			<helicopter id="13" limit="43" />
			<helicopter id="14" limit="43" />
			<helicopter id="15" limit="43" />
			<helicopter id="16" limit="43" />
		</HelicopterWSILimitHeaders>
	</HelicopterWSILimit>

	<LightsOutput>
  <SensorHeaders>
   <sensor id="1" type="ModbusRTU" name="Lights Output" description="Helideck Light System Output"
    saveToDatabase="False" saveFreq="Sensor">
    <modbus portName="COM10" baudRate="9600" dataBits="8" stopBits="One"
     parity="None" handshake="None" tcpAddress="127.0.0.1" tcpPort="502"
     slaveID="1" startAddress="30001" totalAddresses="10" dataAddress="30001"
     calculationType1="None" calculationParameter1="0" calculationType2="None"
     calculationParameter2="0" calculationType3="None" calculationParameter3="0"
     calculationType4="None" calculationParameter4="0" />
   </sensor>
  </SensorHeaders>
 </LightsOutput>

</configuration>