<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="SerialPortConfig" type="System.Configuration.AppSettingsSection" />
		<section name="ModbusConfig" type="System.Configuration.AppSettingsSection" />
		<section name="FileReaderConfig" type="System.Configuration.AppSettingsSection" />
		<section name="ErrorMessages" type="System.Configuration.AppSettingsSection" />
	</configSections>
	<appSettings>
		<add key="ServerPort" value="8108" />
		<add key="DatabaseAddress" value="127.0.0.1" />
		<add key="DatabasePort" value="3306" />
		<add key="DatabaseName" value="ses_hms" />
		<add key="DatabaseUserID" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAFis6j6B+LUioKxwZSznBagAAAAACAAAAAAAQZgAAAAEAACAAAADs17RfkPiCZUdMrQ5JdJQa0WilPf9/FjQIFTI9LoW2bwAAAAAOgAAAAAIAACAAAACqBmDMhvqFqYr9VvjU4IgHJGZXJ/y1KyjSMBddhHyCGxAAAABBONvw6YuzLYLKPn0RPPZ2QAAAAGVvb2YQczw7bhEqtQqq7H6pjiDG44pNi4TTpc+i3hix0h3SPsoNGiGPbvHoAL7RL5L7DyyOA6W97NNbv2RcEu0=" />
		<add key="DatabasePassword" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAFis6j6B+LUioKxwZSznBagAAAAACAAAAAAAQZgAAAAEAACAAAAC5XAZnOvDadwmb5EvZlFvJ2BN01sOwejpOfTWbM4H/DwAAAAAOgAAAAAIAACAAAABgIHC1f2ZpPZ6l/fce+XCMQQM63h2b8/UYNqs7olKMQBAAAACZ4pnh1bZuerGi4sA6FNWiQAAAAFVd2lD28yNCHekdBoiclxPagTLqC1nRIPXfUO19CmAxr3tM916rjuGALpqZoHj/qnuzKbHuOlWGIpqOCr7jKr4=" />
		<add key="DataStorageTime" value="183" />
		<add key="ErrorMessageStorageTime" value="30" />
		<add key="ProgramSaveFrequency" value="1000" />
		<add key="DataTimeout" value="5000" />
		<add key="GUIDataLimit" value="100" />
		<add key="RegulationStandard" value="NOROG" />
		<add key="SemiSubmersible" value="0" />
		<add key="HelicopterType" value="AS332" />
		<add key="HelideckCategory" value="Category1" />
		<add key="DayNight" value="Day" />
		<add key="DisplayMode" value="0" />
		<add key="OnDeckHelicopterHeading" value="0" />
		<add key="OnDeckTime" value="0" />
		<add key="OnDeckVesselHeading" value="0" />
		<add key="OnDeckWindDirection" value="0" />
		<add key="MSICorrectionR" value="1" />
		<add key="HelideckHeight" value="50" />
		<add key="WindSensorHeight" value="110" />
		<add key="WindSensorDistance" value="25" />
		<add key="AirPressureSensorHeight" value="109" />
	</appSettings>
	<SerialPortConfig>
		<add key="ShowControlChars" value="1" />
		<add key="TotalDataLines" value="15" />
	</SerialPortConfig>
	<ModbusConfig>
		<add key="TotalDataLines" value="15" />
	</ModbusConfig>
	<FileReaderConfig>
		<add key="TotalDataLines" value="15" />
	</FileReaderConfig>
	<ErrorMessages>
		<add key="ErrorMessagesView" value="0" />
		<add key="ErrorMessagesType" value="0" />
		<add key="ErrorMessagesSelection" value="0" />
	</ErrorMessages>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.19.1.0" newVersion="3.19.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>