<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="FlightNumber" value="" />
        <add key="ReturnLoad" value="0" />
        <add key="TotalLoad" value="0" />
        <add key="Luggage" value="0" />
        <add key="Cargo" value="0" />
        <add key="HelifuelAvailable" value="0" />
        <add key="FuelQuantity" value="0" />
        <add key="RescueRecoveryAvailable" value="0" />
        <add key="NDBServiceable" value="0" />
        <add key="LightningPresent" value="0" />
        <add key="ColdFlaring" value="0" />
        <add key="AnyUnserviceableSensors" value="0" />
        <add key="AnyUnserviceableSensorsComments" value="" />
        <add key="Routing1" value="" />
        <add key="Routing2" value="" />
        <add key="Routing3" value="" />
        <add key="Routing4" value="" />
        <add key="LogInfoRemarks" value="" />
        <add key="SeaSprayObserved" value="0" />
        <add key="OtherWeatherInfo" value="" />
        <add key="SendHMSScreenCapture" value="0" />
        <add key="Email" value="" />
    </appSettings>
</configuration>